﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--<title>@ViewBag.Title</title> -->
    <title>NTB Sportsdata Web</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>NTB Sportsdata</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Hjem", "Index", "Home")</li>
                    <li>@Html.ActionLink("Om", "About", "Home")</li>
                    @if (HttpContext.Current.User.IsInRole("Administrator"))
                    {
                    <li>@Html.ActionLink("Administrasjon", "Index", "SportsDataManager")</li>
                    }
                </ul>
            </nav>
        </header>
        <section id="main">
        <section id="calendar">
        <div id="cal"></div>
        </section>
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    <script language="javascript" type="text/javascript">
        $(function () {
            $("#cal").datepicker();
        });

        $(function() {
            $('select.dynamic-link').click(function() {
                $.get('/CustomerController/Choose', CustomerId: $(this).attr('id'), function(data) {
                    $('#partialview').html(data);
                });
            });


            $("#Kretser").change(function () {

                var selectedKrets = $(this).val();
            
                if (selectedKrets != null && selectedKrets != '') {
                    $.getJSON('@Url.Action("Kommuner")', {krets: selectedKrets}, function(kommune) {
                        var kommuneSelect = $('#kommuner');
                        kommuneSelect.empty();

                        $.each(kommune, function (index, kommune) {
                            kommuneSelect.append($('<option/>', {
                            value: kommune.value,
                            text: kommune.text

                        }));
                    });
                });
            };
        });

        
    

    </script>
</body>
</html>
