﻿@model NTBSportsDataWeb.Models.MessageFormats

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MessageFormats</legend>

    <div class="display-label">Format</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Format)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
