﻿@model NTBSportsDataWeb.Models.MessageFormats

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MessageFormats</legend>

    <div class="display-label">FormatId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FormatId)
    </div>

    <div class="display-label">Format</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Format)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
