﻿@model NTBSportsDataWeb.Models.Sports

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Sports</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SportId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SportId)
            @Html.ValidationMessageFor(model => model.SportId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sports1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sports1)
            @Html.ValidationMessageFor(model => model.Sports1)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
