﻿@model NTBSportsDataWeb.Models.Sports

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Sports</legend>

    <div class="display-label">SportId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SportId)
    </div>

    <div class="display-label">Sports1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sports1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
