﻿@model NTBSportsDataWeb.Models.Sports

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sports</legend>

    <div class="display-label">SportId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SportId)
    </div>

    <div class="display-label">Sports1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sports1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
