﻿@model IEnumerable<NTBSportsDataWeb.Models.Matches>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            MatchId
        </th>
        <th>
            Sports
        </th>
        <th>
            HomeTeam
        </th>
        <th>
            AwayTeam
        </th>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Downloaded
        </th>
        <th>
            TournamentId
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sports.Sports1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Downloaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

<tr>
<td colspan="9">

<% if (Model.HasPreviousPage) { %>

    <%= Html.RouteLink("<<<", "UpcomingMatches", new { page = (Model.PageIndex-1) }) %>

<% } %>

<% if (Model.HasNextPage) {  %>

    <%= Html.RouteLink(">>>", "UpcomingMatches", new { page = (Model.PageIndex + 1) }) %>

<% } %>
</td>
</tr>

</table>


