﻿@model NTBSportsDataWeb.Models.Matches

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Matches</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MatchId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MatchId)
            @Html.ValidationMessageFor(model => model.MatchId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SportId, "Sports")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SportId", String.Empty)
            @Html.ValidationMessageFor(model => model.SportId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeTeam)
            @Html.ValidationMessageFor(model => model.HomeTeam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AwayTeam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AwayTeam)
            @Html.ValidationMessageFor(model => model.AwayTeam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Time)
            @Html.ValidationMessageFor(model => model.Time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Downloaded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Downloaded)
            @Html.ValidationMessageFor(model => model.Downloaded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TournamentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TournamentId)
            @Html.ValidationMessageFor(model => model.TournamentId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
