﻿@model NTBSportsDataWeb.Models.Matches

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Matches</legend>

    <div class="display-label">MatchId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MatchId)
    </div>

    <div class="display-label">Sports</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sports.Sports1)
    </div>

    <div class="display-label">HomeTeam</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeTeam)
    </div>

    <div class="display-label">AwayTeam</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwayTeam)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">Time</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>

    <div class="display-label">Downloaded</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Downloaded)
    </div>

    <div class="display-label">TournamentId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TournamentId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
