﻿@model NTBSportsDataWeb.Models.Matches

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Matches</legend>

    <div class="display-label">MatchId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MatchId)
    </div>

    <div class="display-label">Sports</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sports.Sports1)
    </div>

    <div class="display-label">HomeTeam</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeTeam)
    </div>

    <div class="display-label">AwayTeam</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwayTeam)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">Time</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>

    <div class="display-label">Downloaded</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Downloaded)
    </div>

    <div class="display-label">TournamentId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TournamentId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
