﻿@model PagedList.IPagedList<NTBSportsDataWeb.Models.Matches>
            

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm()) 
{
    <p>
    Finn kamp etter hjemmelag, bortelag eller kampdato: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="S&oslash;k" />
    </p>
}
<table>
    <tr>
        <th>@Html.ActionLink("Hjemmelag", "Index", new { sortOrder = ViewBag.HomeTeamSortParm, currentFilter=ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("Bortelag", "Index", new { sortOrder = ViewBag.AwayTeamSortParm, currentFilter = ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("Kampdato", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("Sport", "Index", new { sortOrder = ViewBag.SportSortParm, currentFilter = ViewBag.CurrentFilter })</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.HomeTeam</td>
        <td>@item.AwayTeam</td>
        <td>@item.Date</td>
        <td>@item.Sports</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
     
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
        @Html.Raw(" ");
        @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Prev
    }
     
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
        @Html.Raw(" ");
        @Html.ActionLink(">>", "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
    }
    else
    {
        @:Next >
        @Html.Raw(" ")
        @:>>
    }
</div>
