﻿@model NTBSportsDataWeb.Models.CharacterSets

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CharacterSets</legend>

    <div class="display-label">CharacterSetId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CharacterSetId)
    </div>

    <div class="display-label">CharacterSet</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CharacterSet)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
