﻿@model NTBSportsDataWeb.Models.CharacterSets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CharacterSets</legend>

    <div class="display-label">CharacterSetId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CharacterSetId)
    </div>

    <div class="display-label">CharacterSet</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CharacterSet)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
