﻿@model NTBSportsDataWeb.Models.Municipality

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Municipality</legend>

    <div class="display-label">Districts</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Districts.DistrictName)
    </div>

    <div class="display-label">MunicipalityName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MunicipalityName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
