﻿@model NTBSportsDataWeb.Models.Municipality

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Municipality</legend>

    <div class="display-label">Districts</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Districts.DistrictName)
    </div>

    <div class="display-label">MunicipalityName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MunicipalityName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MunicipalityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
