﻿@model IEnumerable<NTBSportsDataWeb.Models.Municipality>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Districts
        </th>
        <th>
            MunicipalityName
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Districts.DistrictName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MunicipalityName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MunicipalityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MunicipalityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MunicipalityId })
        </td>
    </tr>
}

</table>
