﻿@model NTBSportsDataWeb.Models.JobsModels
<div id="info">Jobb-informasjon for kunde: <b>Kunde her viewbag</b></div>

<fieldset id="Postadresse" style="float:left; margin-left: 10px;">
<legend>Noe 1</legend>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    
    <div id="Kretser">
    
    </div>
<div class="editor-label">Kretser</div>
    <div class="editor-field">
        @Html.DropDownListFor(
        m => m.Districts,
        new SelectList(Model.Districts, "DistrictId", "DistrictName"),
        "[Velg et distrikt"]
        )
    </div>
   
    
<div class="editor-label">Kommuner</div>
    <div class="editor-field">
        @Html.DropDownList("Kommuner", string.Empty)
    </div>
    
}
</fieldset>