﻿@model NTBSportsDataWeb.Models.Customer
           

<div id="info">Generell abonnement informasjon for kunde: <b>@ViewBag.CustomerName</b></div>

<fieldset id="Generelt" style="float:left;"><legend>Generelt</legend>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="editor-label">Navn på media</div>
    <div class="editor-field">
        <input type="text" name="MediaNavn" />
    </div>
    <br />
    
    <div class="editor-label">Kontaktnavn</div>
        <div class="editor-field"><input type="text" name="Kontaktnavn" value=""/>
    </div>
    <br />
    
    <div class="editor-label">Kontaktepost</div>
        <div class="editor-field"><input type="text" name="Kontaktepost" value=""/>
    </div>
    <br />           
}
</fieldset>

<fieldset id="Fakturaadresse" style="float:left; margin-left: 10px;"><legend>Noe 2</legend>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="editor-label">Brukernavn</div>
    <div class="editor-field">
        <input type="text" name="Brukernavn"/>
    </div>
    <br />
    
    <div class="editor-label">Passord</div>
    <div class="editor-field">
        <input type="password" name="Passord"/>
    </div>
    <br />
}
</fieldset>

<fieldset id="Postadresse" style="float:left; margin-left: 10px;"><legend>Noe 1</legend>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="editor-label">Format</div>
    <div class="editor-field">
        @Html.DropDownList("MessageFormats", string.Empty)
    </div>
    
    <div class="editor-label">Tegnsett</div>
    <div class="editor-field">    
        @Html.DropDownList("CharacterSets", string.Empty)
    </div>
    <br />
    
    <div class="editor-label">E-post adresse for mottak av resultater</div>
    <div class="editor-field">    
        <input type="text" name="epostmottak"/>
    </div>
    <br />
    
    <div class="editor-label">FTP-server adresse</div>
    <div class="editor-field">
        <input type="text" name="ftpserver"/>
    </div>
    <br />

    <div class="editor-label">FTP-server brukernavn</div>
    <div class="editor-field">    
        <input type="text" name="ftpbrukernavn"/>
    </div>
    <br />

    <div class="editor-label">FTP-server passord</div>
    <div class="editor-field">    
        <input type="text" name="ftppassord"/>
    </div>
    <br />

    <div class="editor-label">FTP-server mappe for resultatfiler</div>
    <div class="editor-field">    
        <input type="text" name="ftpfolder"/>
    </div>
    <br />
    
}
</fieldset>