﻿@model NTBSportsDataWeb.Models.Customer


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <fieldset>
        <legend>Customer</legend>
@using (Html.BeginForm("Create","Customer",FormMethod.Post,null))
{
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerName)
            @Html.ValidationMessageFor(model => model.CustomerName)

            
            <input type="submit" value="Create" />

        </div>
    
    
}

@using (Html.BeginForm("Choose", "Customer", FormMethod.Get,null))
{

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId, "Customer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerID", string.Empty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId, "CustomerSteps")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerSteps", string.Empty)

            <input type="submit" value="Get" />
        </div>
    }

    <div id="partialView">
    


    @if (Request.QueryString.Count > 0) 
    {

        string PartialViewName = ViewBag.PartialViewName;
        
        if (PartialViewName != null) {
            @Html.Partial((string)ViewBag.PartialViewName);
        }
    }
    </div>

    </fieldset>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>
