﻿@model NTBSportsDataWeb.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">CustomerName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerName)
    </div>

    <div class="display-label">CustomerAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerAddress)
    </div>

    <div class="display-label">CustomerEMail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerEMail)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
