﻿@model NTBSportsDataWeb.Models.Tournaments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tournaments</legend>

    <div class="display-label">TournamentId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TournamentId)
    </div>

    <div class="display-label">Districts</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Districts.DistrictName)
    </div>

    <div class="display-label">Seasons</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seasons.SeasonName)
    </div>

    <div class="display-label">Sports</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sports.Sports1)
    </div>

    <div class="display-label">TournamentName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TournamentName)
    </div>

    <div class="display-label">Push</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Push)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
