﻿@model NTBSportsDataWeb.Models.Tournaments

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tournaments</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TournamentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TournamentId)
            @Html.ValidationMessageFor(model => model.TournamentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DistrictId, "Districts")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DistrictId", String.Empty)
            @Html.ValidationMessageFor(model => model.DistrictId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeasonId, "Seasons")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SeasonId", String.Empty)
            @Html.ValidationMessageFor(model => model.SeasonId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SportId, "Sports")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SportId", String.Empty)
            @Html.ValidationMessageFor(model => model.SportId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TournamentName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TournamentName)
            @Html.ValidationMessageFor(model => model.TournamentName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Push)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Push)
            @Html.ValidationMessageFor(model => model.Push)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
