﻿@model IEnumerable<NTBSportsDataWeb.Models.Tournaments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            TournamentId
        </th>
        <th>
            Districts
        </th>
        <th>
            Seasons
        </th>
        <th>
            Sports
        </th>
        <th>
            TournamentName
        </th>
        <th>
            Push
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Districts.DistrictName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seasons.SeasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sports.Sports1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Push)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
