﻿@model NTBSportsDataWeb.Models.Districts

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Districts</legend>

    <div class="display-label">DistrictId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictId)
    </div>

    <div class="display-label">SportId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SportId)
    </div>

    <div class="display-label">DistrictName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
