﻿@model NTBSportsDataWeb.Models.Districts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Districts</legend>

    <div class="display-label">DistrictId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictId)
    </div>

    <div class="display-label">SportId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SportId)
    </div>

    <div class="display-label">DistrictName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
